<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<div class="login-width-align">
    <form method="post" th:action="@{/login}" class="login-form">
        <h3 class="login-h3">Login</h3>

        <input type="text" class="login-input" placeholder="Username" name="username" id="username"><br/>
        <input type="password" class="login-input" placeholder="Password" name="password" id="password"><br/>
        <input style="visibility: hidden; position: absolute;" type="checkbox" class="input-place" checked name="remember-me"/>

        <button type="submit" class="login-button button btn" name="login">Login</button>
        <h5 class="h5-to-sign-up">Don't have account yet?
            <a th:href="@{/register}" class="btn-to-sign-up">Sign Up</a></h5>
    </form>
</div>
</body>
</html>